@using Microsoft.AspNet.Identity
@using T1809E.COINMARKET.Models
@model IEnumerable<T1809E.COINMARKET.Models.ApplicationUser>

@{
    ViewBag.Title = "User Management";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>User Tables </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">
        <!-- BEGIN THEME PANEL -->
        <div class="btn-group btn-theme-panel">
            <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-settings"></i>
            </a>
            <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h3>HEADER</h3>
                        <ul class="theme-colors">
                            <li class="theme-color theme-color-default active" data-theme="default">
                                <span class="theme-color-view"></span>
                                <span class="theme-color-name">Dark Header</span>
                            </li>
                            <li class="theme-color theme-color-light " data-theme="light">
                                <span class="theme-color-view"></span>
                                <span class="theme-color-name">Light Header</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                        <h3>LAYOUT</h3>
                        <ul class="theme-settings">
                            <li>
                                Layout
                                <select class="layout-option form-control input-small input-sm">
                                    <option value="fluid" selected="selected">Fluid</option>
                                    <option value="boxed">Boxed</option>
                                </select>
                            </li>
                            <li>
                                Header
                                <select class="page-header-option form-control input-small input-sm">
                                    <option value="fixed" selected="selected">Fixed</option>
                                    <option value="default">Default</option>
                                </select>
                            </li>
                            <li>
                                Top Dropdowns
                                <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                    <option value="light">Light</option>
                                    <option value="dark" selected="selected">Dark</option>
                                </select>
                            </li>
                            <li>
                                Sidebar Mode
                                <select class="sidebar-option form-control input-small input-sm">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected="selected">Default</option>
                                </select>
                            </li>
                            <li>
                                Sidebar Menu
                                <select class="sidebar-menu-option form-control input-small input-sm">
                                    <option value="accordion" selected="selected">Accordion</option>
                                    <option value="hover">Hover</option>
                                </select>
                            </li>
                            <li>
                                Sidebar Position
                                <select class="sidebar-pos-option form-control input-small input-sm">
                                    <option value="left" selected="selected">Left</option>
                                    <option value="right">Right</option>
                                </select>
                            </li>
                            <li>
                                Footer
                                <select class="page-footer-option form-control input-small input-sm">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected="selected">Default</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="coint_list.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Admin</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Users Management</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-user font-dark"></i>
                    <span class="caption-subject bold uppercase"> Users </span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th> Birth Day </th>
                            <th> Username </th>
                            <th> Email </th>
                            <th> Email Confirm </th>
                            <th> Rank </th>
                            <th> Status </th>
                            <th> Joined </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr class="odd gradeX">
                                <td> @m.FirstName </td>
                                <td> @m.LastName </td>
                                <td> @m.BirthDay </td>
                                <td> @m.Email </td>
                                <td>
                                    <a href="mailto:shuxer@gmail.com"> @m.Email </a>
                                </td>
                                <td>
                                    @if (m.EmailConfirmed)
                                    {
                                        <span class="label label-sm label-success"> @m.EmailConfirmed </span>
                                    }
                                    else
                                    {
                                        <span class="label label-sm label-danger"> @m.EmailConfirmed </span>
                                    }
                                </td>
                                <td>
                                    @if (m.Rank.Equals("vip"))
                                    {
                                        <span class="label label-sm label-danger"> @m.Rank.Name </span>
                                    }
                                    else
                                    {
                                        <span class="label label-sm label-info"> @m.Rank.Name </span>
                                    }
                                </td>
                                <td>
                                    @if (m.Status.Equals(UserStatus.ACTIVE))
                                    {
                                        <span class="label label-sm label-success"> @m.Status </span>
                                    }
                                    else if (m.Status.Equals(UserStatus.DISABLED))
                                    {
                                        <span class="label label-sm label-warning"> @m.Status </span>
                                    }
                                    else
                                    {
                                        <span class="label label-sm label-danger"> @m.Status </span>
                                    }
                                </td>
                                <td class="center"> @m.CreatedAt </td>
                                <td>
                                    @if (HttpContext.Current.User.Identity.GetUserId().Equals(m.Id))
                                    {
                                        <span class="label label-sm label-danger"> Current User </span>
                                    }
                                    else
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                Actions
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-left" role="menu">
                                                @if (m.Status.Equals(UserStatus.ACTIVE))
                                                {
                                                    <li class="disabled">
                                                        <a href="javascript:;">
                                                            <i class="icon-action-redo"></i> Active
                                                        </a>

                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="">
                                                        <a href="/Admin/ChangeUserStatus?status=@UserStatus.ACTIVE&userId=@m.Id">
                                                            <i class="icon-action-redo"></i> Active
                                                        </a>

                                                    </li>
                                                }
                                                @if (m.Status.Equals(UserStatus.DISABLED))
                                                {
                                                    <li class="disabled">
                                                        <a href="javascript:;">
                                                            <i class="icon-ban"></i> Disable
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="/Admin/ChangeUserStatus?status=@UserStatus.DISABLED&userId=@m.Id">
                                                            <i class="icon-ban"></i> Disable
                                                        </a>
                                                    </li>
                                                }
                                                @if (m.Status.Equals(UserStatus.DELETED))
                                                {
                                                    <li class="disabled">
                                                        <a href="javascript:;">
                                                            <i class="icon-remove-sign"></i> Delete
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="/Admin/ChangeUserStatus?status=@UserStatus.DELETED&userId=@m.Id">
                                                            <i class="icon-remove-sign"></i> Delete
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }

                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
